html
    head
        title PROOF OF X - KEY VISUAL | Kitasenju Design
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(name="description" content="Kitasenju Design is researching and developing visual expression on screen.")
        meta(property="og:title" content="Kitasenju Design / 北千住デザイン")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://kitasenjudesign.com/")
        meta(property="og:image" content="https://kitasenjudesign.com/v3/img/05.png")
        meta(property="og:site_name" content="Kitasenju Design / 北千住デザイン")
        meta(meta property="og:description" content="Kitasenju Design is researching and developing visual expression on screen.")

        - var cache = Math.random()
            link(rel="stylesheet" href=`./css/index.css?${cache}`)
            //script(src=`./app.processed.js?${cache}`)

    body

        h1 PROOF OF X
        
        .texts
            .columnText
                | 「PROOF OF X」展のキービジュアル「PROOF OF X」展のキービジュアル「PROOF OF X」展のキービジュアル

            .columnText 
                | 「PROOF OF X」展のキービジュアル「PROOF OF X」展のキービジュアル

        .container
            img(src="./img/230521_222727.png")
            img(src="./img/230521_222727.png")
            img(src="./img/230521_222727.png")
            img(src="./img/230521_222727.png")
            

        footer
            .myFooter ©2023 
                a(href="https://kitasenjudesign.com/") Kitasenju Design